<a href="https://colab.research.google.com/github/EnsiyehRaoufi/ML_Models_Linear_treebased_XGBoost__AutoGluon/blob/main/Linear_Models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **Linear Models**

we'll be exploring two types of linear models, one regression, one classification. While regression is what you typically think of for a linear model, they can also be used effectively in classification problems.

compeleted the following steps:

* Load in the wine dataset from scikit learn.
* For the wine dataset, create a train and test split, 80% train / 20% test.
* Create a LogisticRegression model with these hyper parameters:  random_state=0, max_iter=10000
* Evaluate the model with the test dataset
* Load the diabetes dataset from scikit learn
* For the Diabetes dataset, create a train and test split, 80% train / 20% test.
* Create a SGDRegressor (Stochastic Gradient Descent) model with these hyper parameters: random_state=0, max_iter=10000
* Evaluate the model with the test dataset

In [31]:
import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, SGDRegressor

# **Linear Classifier**

In [32]:
# Load in the wine dataset
wine = datasets.load_wine()

In [33]:
# Create the wine `data` dataset as a dataframe and name the columns with `feature_names`
df = pd.DataFrame(wine['data'], columns=wine['feature_names'])

# Include the target as well
df['target'] = wine['target']

In [34]:
# Check your dataframe by `.head()`
df.head()

   alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  target
0    14.23        1.71  2.43  ...                          3.92   1065.0       0
1    13.20        1.78  2.14  ...                          3.40   1050.0       0
2    13.16        2.36  2.67  ...                          3.17   1185.0       0
3    14.37        1.95  2.50  ...                          3.45   1480.0       0
4    13.24        2.59  2.87  ...                          2.93    735.0       0

[5 rows x 14 columns]

In [35]:
# Split your data with these ratios: train: 0.8 | test: 0.2
df_train, df_test = train_test_split(df, test_size=0.2, random_state=0)

In [36]:
# How does the model perform on the training dataset and default model parameters?
# Using the hyperparameters in the requirements, is there improvement?
# Remember we use the test dataset to score the model
clf = LogisticRegression( random_state=0, max_iter=10000,).fit(df_train[wine['feature_names']], df_train['target'])
clf.score(df_test[wine['feature_names']], df_test['target'])

0.9722222222222222

# **Linear Regression**

In [37]:
# Load in the diabetes dataset
diabetes = datasets.load_diabetes()

In [38]:
# Create the diabetes `data` dataset as a dataframe and name the columns with `feature_names`
dfd = pd.DataFrame(diabetes['data'], columns=diabetes['feature_names'])

# Include the target as well
dfd['target'] = diabetes['target']

In [39]:
# Check your dataframe by `.head()`
dfd.head()

        age       sex       bmi        bp  ...        s4        s5        s6  target
0  0.038076  0.050680  0.061696  0.021872  ... -0.002592  0.019908 -0.017646   151.0
1 -0.001882 -0.044642 -0.051474 -0.026328  ... -0.039493 -0.068330 -0.092204    75.0
2  0.085299  0.050680  0.044451 -0.005671  ... -0.002592  0.002864 -0.025930   141.0
3 -0.089063 -0.044642 -0.011595 -0.036656  ...  0.034309  0.022692 -0.009362   206.0
4  0.005383 -0.044642 -0.036385  0.021872  ... -0.002592 -0.031991 -0.046641   135.0

[5 rows x 11 columns]

In [40]:
# Split your data with these ratios: train: 0.8 | test: 0.2
dfd_train, dfd_test = train_test_split(dfd, test_size=0.2, random_state=0)

In [43]:
# How does the model perform on the training dataset and default model parameters?
# Using the hyperparameters in the requirements, is there improvement?
# Remember we use the test dataset to score the model
reg = SGDRegressor(random_state=0, max_iter=10000, alpha=0.001).fit(dfd_train.loc[:, dfd_train.columns != 'target'], dfd_train['target'])
reg.score(dfd_test.loc[:, dfd_test.columns != 'target'], dfd_test['target'])

0.3587053124501599